.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.LoginContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form {
  display: grid;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--background-elevated-base);
  padding: 0.8rem;
  transition: background 0.3s;
}

.btn:hover {
  background-color: var(--background-elevated-highlight);
  transition: background 0.3s;
}

.txt span {
  color: var(--text-announcement);
  font-weight: bold;
  cursor: pointer;
}

.txt span:hover {
  text-decoration: underline;
}

.Account {
  padding: 2rem;
  background: var(--background-highlight);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
